/* Importando Fontes */

@font-face {
    font-family: 'Gotham';
    src: url(../assets/fonts/GothamMedium.ttf);
}

@font-face {
    font-family: 'Gotham Light';
    src: url(../assets/fonts/GothamLight.ttf);
}

/*Setando configurações Globais*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gotham';
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    border-radius: 50px;
    padding: 16px 32px 18px;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

/*Cabeçalho*/

header{
    background-color: #000;
    padding: 18px 180px;
    position: relative;
}

.spotify-logo{
    display: inline-block;
}

.spotify-logo svg{
    height: 42px;
    fill: #fff;
}

header nav{
    position: absolute;
    top: 40%;
    right: 10%;
}

header nav ul li{
    color: #fff;
    display: inline-block;
    margin: auto 20px;
    font-size: 15px;
}

header nav ul li:hover{
    color: #1ED760;
}

/*Conteúdo Principal*/

/*Primeira Section*/
#seja-premium{
    background-color: #ffcdd2;
    padding: 175px 80px;
    text-align: center;
}

#seja-premium h1,#seja-premium button, #seja-premium p{
    margin-top: 35px;
}

#seja-premium h1, #seja-premium p{
    color: #d83519;
}

#seja-premium h1{
    font-size: 80px;
}

#seja-premium button{
    color: #fff;
    background-color: #d83519;    
}

#seja-premium button:hover{
    background-color: #c12f16;
}

#seja-premium p{
    font-size: 12px;
    font-family: 'Gotham Light';
    font-weight: bold;
}

/*Segunda Section*/

#web-player{
    padding: 140px 180px;
    background-color: #2941ab;

    background-image: url(../assets/images/web-player-background.svg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right center;
}

#web-player h1, #web-player h2{
    color: #1ED760;
}

#web-player h1{
    font-size: 52px;
}

#web-player h2{
    font-size: 22px;
    font-family: 'Gotham Light';
}

#web-player button{
    color: #2941ab;
    background-color: #1ED760;
}

.mt-medium{
    margin-top: 60px;
}

/*Footer*/

footer{
    background-color: #000;
    padding: 80px 100px;
}

/*Parte superior do rodapé*/
#top-footer{
    text-align: center;
}

#top-footer div{
    display: inline-block;
}

/*Logo do rodapé*/
#footer-logo{
    float: left;
}

/*Div com os links de navegação dentro do site*/
#footer-links{
    font-family: 'Gotham Light';
    text-align: left;
    font-weight: 100;
}

.links-column{
    float: left;
    margin: 0 42px;
}

.links-column h3{
    color: #919496;
    margin-bottom: 32px;
    font-size: 12px;
    text-transform: uppercase;
}

.links-column li{
    color: #fff;
    font-size: 14px;
    margin-bottom: 24px;
}

.links-column li:hover{
    color: #1ED760;
}

/**/
#footer-social{
    float: right;
}

#footer-social ul li{
    display: inline-block;
}

.social-icon{
    background-color: #222326;
    border-radius: 50%;
    padding: 12px;
    margin: auto 6px;
}

.social-icon svg{
    cursor: pointer;
    height: 28px;
    width: 28px;
    fill: #fff;
}

.social-icon svg:hover{
    fill: #1ED760;
}

/*Footer Inferior*/

#bottom-footer{
    font-family: 'Gotham Light';
    margin-top: 80px;
}

#legal-links{
    float: left;
}

#legal-links a{
    margin: 0 10px;

    font-weight: 600;
    font-size: 11px;
    color: #919496;
}

#legal-links a:hover, #copyright a:hover{
    color:#1ED760
}

#copyright{
    float: right;
}

#copyright a{
    font-weight: 100;
    display: block;
    text-align: right;

    font-size: 11px;
    margin-bottom: 16px;
    color: #919496;
}